@font-face { font-family: NeueCorp; src: url('fonts/PPNeueCorp-NormalMedium.otf'); } 

body {
    font-family: NeueCorp, sans-serif;
    margin: 0;
}

.hero-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top{
    flex: 0 0 auto;
    padding-top: 10px;
    display: flex;
    gap: 8px;
    font-size: 14px;
}

.mid{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/dog.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.bot {
    flex: 0 0 auto;
}

#heading {
    font-size: 16.1vw;
    text-align: center;
    line-height: 100%;
    margin: 0;
}


.col{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .top {
      flex-direction: column; /* mobile */
    }
}