@font-face { font-family: NeueCorp; src: url('fonts/PPNeueCorp-NormalMedium.otf'); } 

body {
    font-family: NeueCorp, sans-serif;
    margin: 0;
    font-weight: 100;
    padding: 0px 32px;
    margin: auto;
    background-color: #ffffff;
}

h1 {
    font-weight: 100;
    font-size: 16px;
}
h2 {
    font-weight: 100;
    margin: 0;
    font-size:
}
h3 {
    font-weight: 100;
}
.hero-container{
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top{
    flex: 0 0 auto;
    padding-top: 10px;
    display: flex;
    gap: 8px;
    font-size: 14px;
}

.mid{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/dog.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.bot {
    flex: 0 0 auto;
}

#heading {
    font-size: 15.9vw;
    text-align: center;
    line-height: 100%;
    margin: 0;
}


.col{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .top {
      flex-direction: column; /* mobile */
    }

    #heading {
        font-size: 25vw;
        line-height: 80%;
    }
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.nav-links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.companies > h2 {
    font-size: 40px;
    font-weight: 100;
    margin: 0px;
}

.project-thumb{
    display: block;
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 12px;
}

.snippet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-thumb-video {
    display: block;
    width: 80%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 12px;
}

.video-container {
    background: #f1f1f1;
    max-width: 900px;
    max-height: 500px;
    aspect-ratio: 9/5;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-main-video {
    width: 100%;
    border-radius: 24px;
    max-width: 900px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 24px;
}

.desc-title {
    color: #808080;
}

.spacer {
    height: 200px;
}

footer {
    margin-top: 200px;
}

.footer-logo {
    width: 100%;
}

.full-width-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 64px;
    padding: 16px;
    background-color: #f8f8f8
}

.simple-proj-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    flex: 0 0 250px;
}

.project-body{
    flex: 1 1 auto;
    max-width: 900px; 
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: 500px;
    z-index: -1;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}