@font-face { font-family: NeueCorp; src: url('PPNeueCorp-NormalMedium.otf'); } 

body {
    font-family: NeueCorp, sans-serif;
    margin: 0;
}

.hero-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top{
    flex: 0 0 auto;
    padding-top: 10px;
    display: flex;
}

.mid{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/dog.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.bot {
    flex: 0 0 auto;
}

#heading {
    font-size: 15.5vw;
    text-align: center;
    line-height: 120%;
    margin: 0;
}


.col{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}